@use './constants' as *;

@mixin flexRow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
@mixin flexCol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@mixin mqPhone {
    @media (width <= $mobile) {
        @content
    }
}
@mixin mqDesktop {
    @media (width > $mobile) {
        @content
    }
}